:root {
	--c-black: #242424;
	--c-darkblack: #121212;
	--c-lightblack: #333;
	--c-red: #cd231d;
	--c-green: #8c9900;
	--c-yellow: #ffd500;
	--c-blue: #0066cc;
	--c-gray: #6e6e73;
	--c-darkgray: #444;
	--c-lightgray: #cfcfcf;
	--c-white: hsl(60, 100%, 97%);
}
